body {
  position: relative;
  height: 98vh;
  background: linear-gradient(180deg,rgba(8,15,26,.59),rgba(17,17,46,.46)) 50% fixed,url(/assets/img/bg-default.jpg) no-repeat 50% fixed;
  background-size: cover;
  padding-top: 1px;
  margin-top: -1px;
  animation: smoothAppearance 2s ease-in-out;
}

.button {
  &__update {
    background: rgba(180,184,187,.7) url(/assets/icons/update-button.svg) no-repeat bottom;
    background-size: 4.4rem;
  }
}

.spinner {
  width: 2rem;
  height: 2rem;
  background: url(/assets/icons/spinner.svg) 50% no-repeat;
  -webkit-animation: spin 1.4s ease-in-out;
  animation: spin 1.4s ease-in-out;
}

.weather {
  background-color: rgba($color:#FFFFFF, $alpha: 0.6)!important;
  padding: 14px;
  &__current {
    &_temp {
      font-size: 10rem;
    }
    &_icon {
      width: 8rem;
      height: 8rem;
      background-size: cover;
    }
    &_desc {
      font-size: 1.5rem;
    }
    &_feels {
      font-size: 1.5rem;
    }
    &_wind {
      font-size: 1.5rem;
    }
    &_humidity {
      font-size: 1.5rem;
    }
  }

  &__daily {
    font-size: 1.5rem;
    display: flex;
  }
}

.map-panel {
  background-color: rgba($color:#FFFFFF, $alpha: 0.6)!important;
  &__coord {
    font-size: 2rem;
    padding: 10px;
  }
  &__map {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0 90%);
  }
}

.location {
  &__name {
    font-size: 4rem;
  }
  &_time {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .location {
    &__name {
      font-size: 2.5rem;
    }
    &_time {
      font-size: 1.5rem;
    }
  }

  .weather {
    &__current {
      &_temp {
        font-size: 6rem;
      }
      &_icon {
        width: 6rem;
        height: 6rem;
        background-size: cover;
      }
      &_desc {
        font-size: 2rem;
      }
      &_feels {
        font-size: 1.5rem;
      }
      &_wind {
        font-size: 1.5rem;
      }
      &_humidity {
        font-size: 1.5rem;
      }
    }
  }
}